@charset "utf-8";

@font-face {
    font-family: "SamsungOneKorean";
    src: url("https://d303ckh1dw8zw2.cloudfront.net/font/SamsungOneKorean-400.eot");
    src: url("https://d303ckh1dw8zw2.cloudfront.net/font/SamsungOneKorean-400.eot?#iefix") format("embedded-opentype"),
    url("https://d303ckh1dw8zw2.cloudfront.net/font/SamsungOneKorean-400.woff2") format("woff2"), url("https://d303ckh1dw8zw2.cloudfront.net/font/SamsungOneKorean-400.woff") format("woff"), url("https://d303ckh1dw8zw2.cloudfront.net/font/SamsungOneKorean-400.ttf") format("truetype"), url("https://d303ckh1dw8zw2.cloudfront.net/font/SamsungOneKorean-400.svg#aller") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SamsungOneKorean";
    src: url("https://d2vmsfj099sbr1.cloudfront.net/fonts/SamsungOneKorean-700.eot");
    src: url("https://d2vmsfj099sbr1.cloudfront.net/fonts/SamsungOneKorean-700.eot?#iefix") format("embedded-opentype"),
    url("https://d2vmsfj099sbr1.cloudfront.net/fonts/SamsungOneKorean-700.woff2") format("woff2"), url("https://d2vmsfj099sbr1.cloudfront.net/fonts/SamsungOneKorean-700.woff") format("woff"), url("https://d2vmsfj099sbr1.cloudfront.net/fonts/SamsungOneKorean-700.ttf") format("truetype"), url("https://d2vmsfj099sbr1.cloudfront.net/fonts/SamsungOneKorean-700.svg#aller") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SamsungOne';
    src: url('https://r1.community.samsung.com/html/assets/SamsungOne-400.eot');
    src: url('https://r1.community.samsung.com/html/assets/SamsungOne-400.eot?#iefix') format("embedded-opentype"),
    url('https://r1.community.samsung.com/html/assets/SamsungOne-400.woff2') format("woff2"),
    url('https://r1.community.samsung.com/html/assets/SamsungOne-400.woff2') format("woff"),
    url('https://r1.community.samsung.com/html/assets/SamsungOne-400.ttf') format("truetype");;
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SamsungOne';
    src: url('https://r1.community.samsung.com/html/assets/SamsungOne-700.eot');
    src: url('https://r1.community.samsung.com/html/assets/SamsungOne-700.eot?#iefix') format("embedded-opentype"),
    url('https://r1.community.samsung.com/html/assets/SamsungOne-700.woff2') format("woff2"),
    url('https://r1.community.samsung.com/html/assets/SamsungOne-700.woff') format("woff"),
    url('https://r1.community.samsung.com/html/assets/SamsungOne-700.ttf') format("truetype");;
    font-weight: 700;
    font-style: bold;
    font-display: swap
}

@font-face {
    font-family: 'SamsungSharpSans';

    src: url('SamsungSharpSansBd.woff2') format("woff2"),
    url('SamsungSharpSansBd.woff') format("woff"),
    url("https://samsung.com/us/smg/etc/designs/samsung/global/global_clientlib/fonts/SamsungSharpSans-Bold.eot"),
    url("https://samsung.com/us/smg/etc/designs/samsung/global/global_clientlib/fonts/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://samsung.com/us/smg/etc/designs/samsung/global/global_clientlib/fonts/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold") format("svg");
    font-weight: 700;
    font-style: bold;
    font-display: swap
}

html {
    -webkit-text-size-adjust: none
}

html, body {
    direction: ltr
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption {
    margin: 0;
    padding: 0
}

img, form, fieldset, svg {
    border: 0;
    vertical-align: top
}

input, button, select {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

button {
    border: 0;
    background: none;
    cursor: pointer
}

button:disabled {
    cursor: default
}

button::-moz-focus-inner {
    padding: 0;
    margin: -1px
}

ul, ol {
    list-style: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.blind, legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px)
}

body, textarea, input, select, textarea, button {
    font-family: "SamsungOne", "SamsungSharpSans", "SamsungOne", "RobotoRegular", Arial, sans-serif;
}

body {
    color: #303030;
    background: #fff;
}

@media screen and (max-width: 719px) {
    HTML, body {
        font-size: 1.388889vw;
    }
}

@media screen and (min-width: 720px) {
    HTML, body {
        font-size: 10px;
    }
}

.tips * {
    font-family: "SamsungOne", "RobotoRegular", Arial, sans-serif;
}

.tips .group LABEL,
.tips H1, .tips H2, .tips H3 {
    font-family: "SamsungOne", "SamsungSharpSans", "RobotoRegular", Arial, sans-serif;
}

.tips .left {
    text-align: left !important;
}

.tips .landing {
    height: 92rem;
    margin-top: 0 !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(landing.png);
}

/* @media (prefers-color-scheme: dark) {
    .tips .landing{
        height: 92rem;  margin-top: 0 !important;
        background-size: contain;   background-repeat: no-repeat;
        background-image: url(landing_dark.png); }
} */
.tips .landing H1 {
    font-size: 5.8rem;
    text-align: center;
    padding-top: 12.5rem;
}

.tips .content .disclaimer {
    max-width: 720px;
    box-sizing: border-box;
    display: block;
    padding: 0 5rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    font-size: 2.1rem;
    line-height: 3.3rem;
    /*position: absolute;*/
    /*top: 119rem;*/
    color: #aaaaaa !important;
    font-weight: 400;
    word-break: keep-all;
}

.tips .black {
    color: #000 !important;
}

.tips .content {
    margin: 0 auto;
    margin-top: 14.5rem;
    max-width: 720px;
}

.tips .first {
    color: #000;
    background-size: contain;
    margin-top: 0rem !important;
}

.tips .first H2 {
    font-size: 3rem;
    font-weight: 700;
    padding: /*12rem*/ 0 0 0 0 !important;
}

.tips .first H3 {
    font-size: 4rem !important;
    font-weight: 600;
    text-align: center;
    padding: 5rem 0 0 0 !important;
}

.tips .first H4 {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -2rem;
    position: relative;
    /*text-decoration: underline;*/
}

.tips .first H4 span.underline1 {
    display: inline-block;
    width: 45rem;
    height: 0.1rem;
    background: #000;
    position: absolute;
    left: 50%;
    top: 4.3rem;
    transform: translate(-50%, 0);
}

.tips .first H4 span.underline2 {
    display: inline-block;
    width: 25rem;
    height: 0.1rem;
    background: #000;
    position: absolute;
    left: 50%;
    top: 4.3rem;
    transform: translate(-50%, 0);
}


.tips .first DIV IMG {
    margin-top: 11rem;
}

.tips .first P {
    color: #252525 !important;
}

.tips .content .center {
    text-align: center;
}

.tips .content IMG {
    width: 100vw;
    height: auto;
    display: block;
    max-width: 720px;
}

.tips .content H2, .tips .content H3, .tips .content H4, .tips .content H5,
.tips .content P, .tips .content LABEL {
    padding: 0 5rem;
}

.tips .first H2 {
    color: #010101 !important;
}

.tips .content H2 {
    font-size: 5.8em;
    padding-top: 3.5rem !important;
    margin: 0;
    text-align: center;
    font-family: "SamsungSharpSans", "RobotoRegular", Arial, sans-serif;
}

.tips .content H3 {
    color: #000;
    font-size: 5.3rem;
    padding-bottom: 2rem;
    font-family: "SamsungSharpSans", "RobotoRegular", Arial, sans-serif;
}

.tips .content P {
    word-break: keep-all;
    color: #aaaaaa;
    text-align: center;
    padding-top: 3.0rem;
    font-size: 2.8rem;
    line-height: 4.6rem;
    padding-bottom: 0rem;
}

.tips .content P I {
    font-size: 0.8em;
    font-style: normal;
}

.tips .content .icon {
    width: 3.2rem;
    height: 3.2rem;
    vertical-align: -0.5rem;
    display: inline-block;
}

.tips .content .group {
    padding-top: 8rem;
}

.tips .content .group H4 {
    font-size: 3.2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.tips .content .group P {
    text-align: left;
    padding-top: 0;
}

.tips .content .group SMALL {
    color: #999;
    font-size: 2rem;
    padding-top: 2rem;
    display: block;
    line-height: 1.6em;
    font-family: "SamsungOne", "RobotoRegular", Arial, sans-serif;
}

.tips .content .group label {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    font-size: 3.2rem;
    font-style: normal;
    padding-bottom: 2.5rem;
    color: #000;
    font-family: "SamsungSharpSans", "RobotoRegular", Arial, sans-serif;
}

.tips .howto {
    text-align: left;
    padding-top: 1rem;
}

.tips .howto2 {
    margin-bottom: 0rem !important;
}

.tips .howto2 p {
    margin-bottom: 0rem;
}


.tips .howto LABEL {
    font-size: 3rem;
    font-weight: bold;
    font-family: "SamsungOne", "RobotoRegular", Arial, sans-serif;
}

.tips .howto LABEL.labelHowto {
    font-size: 3.4rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    font-family: "SamsungOne", "RobotoRegular", Arial, sans-serif;
}

.tips .howto P {
    color: #000;
    padding-top: 2.5rem;
    line-height: 4.6rem;
    text-align: left;
    padding-bottom: 0;
    font-size: 2.73rem;
    font-family: "SamsungOne", "RobotoRegular", Arial, sans-serif;
}

.tips .howtofs P img {
    display: inline;
    width: 3.2rem;
    height: 3.2rem;
    vertical-align: middle;
    margin-left: 0.3rem;
}

.tips .howto P B {
    margin-top: 1rem;
    display: inline-block;
}

.tips .howto SMALL {
    font-size: 2rem;
    line-height: 1.6em;
    color: #666666 !important;
    padding-top: 1.5em;
    display: inline-block;
}


.tips .endings DIV {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border: solid 1px #e5e5e5;
}

.tips .endings P {
    color: #000;
    font-size: 2.6rem;
    line-height: 4.6rem;
    padding: 15rem 3rem;
    text-align: center;
}

.tips .ctaBtn {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 2rem;
    border-radius: 40rem;
    font-size: 3.2rem;
    font-weight: bold;
    box-shadow: 0px 5px 15px rgba(34, 122, 255, 0.3);
}

/*
.tips .footer{
    color:rgba(0,0,0,0.7);         background-color: #f2f2f2;
    text-align: center; padding: 12rem 4rem;    word-break: keep-all;
    font-family: "SamsungOneKorean", "RobotoRegular", Arial, sans-serif; }
.tips .footer .note{    font-size: 2.1rem;      padding-bottom: 5rem; }
.tips .footer .copy{    font-size: 1.69rem;      line-height: 1.7em; }
*/


.tips .footer {
    background-color: #f7f7f7;
    padding: 13rem 0;
    text-align: center;
}

.tips .footer .note {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 6rem;
    line-height: 2.8rem;
}

.tips .footer .copy {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 2.8rem;
    font-family: "SamsungOne", "SamsungOne", "RobotoRegular", Arial, sans-serif;
}


.tips .blue {
    color: #227aff !important;
}

.tips .gray {
    color: #aaaaaa !important;
}

.tips .ctaBtn {
    background-color: #000;
    color: #fff;
    display: block;
    text-align: center;
    padding: 2.5rem;
    border-radius: 40rem;
    font-size: 3.1rem;
    font-weight: bold;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.4);
}

.tips .ctaBtn i {
    font-style: normal;
}

.tips .ctaBtn {
    font-family: "SamsungSharpSans", "SamsungOne", "RobotoRegular", Arial, sans-serif;
}

#FlowTabArea {
    height: /*10.2rem;*/ 9rem;
    padding-top: 11rem;
    padding-bottom: 1rem;
}

#FlowTab {
    width: 100%;
    background-color: #fff;
    text-align: center;
    background-size: contain;
    background-image: url(floating.png);
    z-index: 100;
}

#FlowTab .inner {
    width: 72rem;
    margin: 0 auto;
    display: table;
}

#FlowTab A {
    width: 33.333%;
    height: 10.2rem;
    font-size: 2.2rem;
    color: #7f7f7f;
    display: table-cell;
    vertical-align: middle;
}

#FlowTab B {
    display: inline-block;
    font-family: "SamsungOne", "SamsungSharpSans", "RobotoRegular", Arial, sans-serif;
    font-size: 2.4rem;
}

/*#FlowTab A:hover B, .ftabFocus B{
    color: #000000;     border-bottom: solid 0.14em #000 !important; }*/
#FlowTab A:hover B, .ftabFocus B {
    color: #000000;
    border-bottom: solid 0.14em #000 !important;
}

.ftabFix {
    top: 0px;
    position: fixed !important;
}


.SwipeArea H4 {
    color: #227aff;
}

.SwipeArea A {
    height: 67.5rem;
    width: 10rem;
    display: block;
    background-size: 10rem auto;
    position: absolute;
    background-repeat: no-repeat;
}

.SwipeArea2 A {
    height: 67.5rem;
    width: 10rem;
    display: block;
    background-size: 10rem auto;
    position: absolute;
    background-repeat: no-repeat;
}

.SwipeArea3 A {
    height: 67.5rem;
    width: 10rem;
    display: block;
    background-size: 10rem auto;
    position: absolute;
    background-repeat: no-repeat;
}

.SwipeArea #ArrowL {
    background-image: url(arrowL_2.png);
    margin-left: 1rem;
    background-position: left center;
}

.SwipeArea #ArrowR {
    margin-left: 61rem;
    background-image: url(arrowR_2.png);
    background-position: right center;
}

.SwipeDots B {
    color: #000;
}

.SwipeDots {
    color: #f0f0f0;
    text-align: center;
    font-size: 4.5em;
    margin-top: 0rem;
}

.SwipeWrap {
    width: 100%;
    overflow: hidden;
}

#SwipeArea3 .SwipeWrap {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.SwipeInner img {
    width: 72rem;
    height: 67.5rem;
    overflow: hidden;
    display: inline-block !important;
    box-sizing: border-box;
    float: left;
}

.SwipeArea #ArrowL_2 {
    background-image: url(arrowL_2.png);
    background-position: left center;
    margin-left: 1rem;
}

.SwipeArea #ArrowR_2 {
    margin-left: 61rem;
    background-image: url(arrowR_2.png);
    background-position: right center;
}

.SwipeArea #ArrowL_3 {
    background-image: url(arrowL_2.png);
    background-position: left center;
}

.SwipeArea #ArrowR_3 {
    margin-left: 62rem;
    background-image: url(arrowR_2.png);
    background-position: right center;
}

#SwipeArea2 img {
    width: 72rem;
    height: 67.5rem;
    overflow: hidden;
    display: inline-block !important;
    box-sizing: border-box;
    float: left;
}

#SwipeArea3 img {
    width: 72rem;
    height: 67.5rem;
    overflow: hidden;
    display: inline-block !important;
    box-sizing: border-box;
    float: left;
}

.tips .howto TABLE {
    margin: 0 5rem;
    margin-top: 0rem;
}

.tips .howto TABLE TR {
    display: inline-block;
    background: #f6f6f6;
    width: 100%;
    margin-bottom: 0rem;
    padding-top: 0rem;
}

.tips .howto TABLE TR:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 6rem;
}

.tips .howto TABLE TR:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 0rem;
}

.tips .howto TH {
    word-break: keep-all;
    vertical-align: top;
}

.tips .howto TH, .tips .howto TD {
    color: #000000;
    font-size: 2.5rem;
    vertical-align: top;
    padding: 0.2em;
    line-height: 1.5em;
    padding-bottom: 4.0rem;
    color: #505050
}

.tips .howtoimg {
}

.tips .howtoimg IMG {
    width: 10.3rem;
    height: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.tips .howtoimg table tr th img {
    margin-top: 0.6rem;
}

.tips .howtoimg table tr:last-child th img {
    margin-top: 2rem;
}

.tips h4 img {
    width: 3.6rem !important;
}

.tips .tip DT, .tips .tip DD {
    display: block;
    vertical-align: middle;
    line-height: 4.6rem;
}

.tips .tip DT.q {
    vertical-align: top;
    width: 4rem;
    text-align: center;
    border-radius: 1rem;
    padding-top: 1.8rem;
}

.tips .tip DD.q {

    font-weight: bold;
    padding-left: 0rem;
    padding-top: 1.5rem;
}

.tips .tip:nth-of-type(3) DD.q, .tips .tip:nth-of-type(5) DD.q {
    padding-top: 6.5rem !important;
}


.ban0 {

    position: relative;
    border: none !important;
}

.ban_txt0 {
    position: absolute;
    top: 5rem;
    left: 5rem;
    color: #000000;
    font-size: 2.4rem;
    vertical-align: middle;
    padding: 0.2rem;
    line-height: 4.5rem;
}

.ban_txt0 span {
    display: inline-block;
    margin-bottom: 1rem;
}

.ban_txt0 b {
    font-size: 3.0rem;
    line-height: 2rem;
}

.e_s {
    font-family: "SamsungSharpSans", "RobotoRegular", Arial, sans-serif !important;
    font-weight: bold;
}

.ban_txt0 a {
    display: block;
    color: #717171;
    line-height: 5rem;
    font-weight: bold;
}


.SwipeInner div {
    display: block;
    float: left;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}

.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    text-align: center;
    color: #979797;
    font-size: 2.1em;
    position: absolute;
    bottom: 1rem;
    margin-top: 5rem;
}

.SwipeInner.swiper-wrapper {
    margin-bottom: 4rem;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .3);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #000000;
}

.SwipeArea #ArrowR_1 {
    position: absolute;
    right: 3rem;
    background-size: cover;
    width: 10rem;
    height: 7rem;
    background-image: url(arrowR.png);
    background-position: center;
    top: 32rem;
}

.SwipeArea #ArrowL_1 {
    background-image: url(arrowL.png);
    left: 3rem;
    background-position: center;
    background-size: cover;
    width: 10em;
    height: 7rem;
    margin-left: 0rem;
    top: 32rem;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}

.tips .content P b {
    font-family: "SamsungSharpSans", "RobotoRegular", Arial, sans-serif;
}

.tips .content .group H4 {
    font-size: 3.4rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.tips .content .group H5 {
    font-size: 3.0rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}